# Scence

As all of us now, in many sitcomes and seinfled spesificly the show is a series of scene.  
Many times, two seperate scence are completly different (for example Gorege and Jerry are in the street, next scene they sit togather in a resturant).  
Since we excpt following sentances will help us better predict, we shouldn't consider different scence as following sentacnes.  
Moreover, we remmber kramer break in to the room and the audince laughing.  

After watching enough senfiled eppsiodes we now that sometimes we have this _[transiation music](https://www.youtube.com/watch?v=EP2GMyQdw78)_ it's not always the case, and we did see different timings of this interlude.

In [1]:
from utils import *
from compare_models import plot_confusion_matrix, compare_models_roc_curve
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from bokeh.io import output_notebook, show
from bokeh.plotting import figure
output_notebook()
%load_ext autoreload
%autoreload 2

df = load_corpus()

Let's start with finiding the time between following sentances, we shall remmber that new episodes should have time zero

In [2]:
df.loc[:, 'time_from_prev'] = np.array([0] + [df.start[i] - df.end[i - 1]
                                       if df.episode_num[i] == df.episode_num[i - 1] else 0
                                       for i in range(1, len(df.start))])

In [3]:
p = figure(plot_height=300, tools="pan,box_zoom,reset, save")

hist, edges = np.histogram(df.time_from_prev, bins=np.arange(-0.1,50,0.2))
p.quad(top=hist, bottom=0, left=edges[:-1], right=edges[1:], alpha=0.4)

show(p)

What do we see?  
As excpected, most of the following sentances occur after < 1sec.  
But we are intrested in the long tail, it's very weird to see distance of > 40sec, let's look at them

In [4]:
df.iloc[[j for i in df[(df.time_from_prev > 40)].index for j in [i-1, i]]].head(6)

,avg_word_length,character,end,episode_name,episode_num,is_funny,laugh_time,length,line_num,num_words,season,start,total_lines,txt,global_episode_num,time_from_prev
7147,4.000000,NaN,1255.228,The Smelly Car,21,True,1255.3,1.517,461,2.0,4,1253.711,475,Sauce me.,15,0.000
7148,2.800000,NaN,1302.299,The Smelly Car,21,False,NaN,2.125,462,5.0,4,1300.174,475,Why do we need BO?,15,44.946
11216,5.400000,NaN,426.385,The Barber,8,True,451.5,2.694,176,5.0,5,423.691,445,"Well, we'll straighten him out.",24,0.074
11217,3.285714,NaN,472.437,The Barber,8,False,NaN,1.533,177,7.0,5,470.904,445,What do you do there all day?,24,44.519
21258,4.000000,NaN,1283.827,The Jimmy,19,True,1284.7,5.299,441,11.0,6,1278.528,454,I wanna dedicate this song to a very courageo...,44,0.741
21259,4.600000,KRAMER,1390.368,The Jimmy,19,False,NaN,2.398,442,5.0,6,1387.970,454,"Hey, got the new Penthouse.",44,104.143

After watching some episodes that's look allright.  
It's really a new scene, and it there is that match seconds without speaking.  
  
  
We prefer to have false negative than false positive --> we prefer to have two scences togather than to break in a middle of a scene, so we will pick the threshold a bit high, let's say 5 seconds

In [25]:
df.episode_num.sample(1).values[0]

16

In [29]:
# df.loc[:, ['new_scene']] = df['time_from_prev'] > 5
# # Other than that, if it's a new episode we want new scene, used heuristic for that
# df.loc[(df.time_from_prev == 0) & (df.start <= 2), ['new_scene']] = True

df[(df.episode_num == df.episode_num.sample(1).values[0]) & (df.season == df.season.sample(1).values[0])]

,avg_word_length,character,end,episode_name,episode_num,is_funny,laugh_time,length,line_num,num_words,season,start,total_lines,txt,global_episode_num,time_from_prev,new_scene
37151,4.400000,NaN,7.534,The Yada Yada,19,False,NaN,1.260,0,5.0,8,6.274,496,You're on a desert island.,78,0.000,False
37152,3.636364,NaN,9.835,The Yada Yada,19,False,NaN,2.227,1,10.0,8,7.608,496,You can bring five books. Which five do you t...,78,0.074,False
37153,4.000000,NaN,11.535,The Yada Yada,19,True,12.0,1.624,2,5.0,8,9.911,496,I gotta read five books?,78,0.076,False
37154,4.333333,NaN,13.839,The Yada Yada,19,False,NaN,2.227,3,3.0,8,11.612,496,"All right, one.",78,0.077,False
37155,3.500000,NaN,16.405,The Yada Yada,19,False,NaN,1.590,4,2.0,8,14.815,496,Come on.,78,0.976,False
37156,4.600000,NaN,18.074,The Yada Yada,19,False,NaN,1.590,5,5.0,8,16.484,496,I got it. Three Musketeers.,78,0.079,False
37157,5.000000,NaN,19.567,The Yada Yada,19,False,NaN,1.415,6,3.0,8,18.152,496,You've read that?,78,0.078,False
37158,3.857143,NaN,20.982,The Yada Yada,19,True,21.3,1.415,7,7.0,8,19.567,496,"No, I'm saving it for the island.",78,0.000,False
37159,4.222222,NaN,23.783,The Yada Yada,19,False,NaN,2.728,8,8.0,8,21.055,496,"All right, let's start this whole thing over.",78,0.073,False
37160,5.571429,NaN,26.688,The Yada Yada,19,False,NaN,2.830,9,6.0,8,23.858,496,"Best Chamberlain: Wilt, Richard, or Neville?",78,0.075,False
37161,4.750000,NaN,27.850,The Yada Yada,19,False,NaN,1.089,10,4.0,8,26.761,496,For the desert island?,78,0.073,False
37162,5.000000,NaN,28.861,The Yada Yada,19,False,NaN,0.932,11,1.0,8,27.929,496,Okay.,78,0.079,False
37163,8.000000,NaN,29.792,The Yada Yada,19,False,NaN,0.931,12,1.0,8,28.861,496,Richard.,78,0.000,False
37164,3.777778,NaN,31.761,The Yada Yada,19,False,NaN,1.897,13,8.0,8,29.864,496,"You know, he was in The Three Musketeers.",78,0.072,False
37165,3.777778,NaN,34.162,The Yada Yada,19,True,34.2,2.330,14,8.0,8,31.832,496,Exactly. Save me having to read the book.,78,0.071,False
37166,4.600000,MARCY,36.565,The Yada Yada,19,False,NaN,1.863,15,5.0,8,34.702,496,What's going on over there?,78,0.540,False
37167,4.142857,MARCY,39.331,The Yada Yada,19,True,39.9,2.694,16,7.0,8,36.637,496,I don't know. I gotta see somebody.,78,0.072,False
37168,3.461538,MARCY,47.714,The Yada Yada,19,False,NaN,3.069,17,12.0,8,44.645,496,"So, Marcy, you should have seen me in the hot...",78,5.314,True
37169,4.000000,MARCY,49.263,The Yada Yada,19,False,NaN,0.914,18,1.0,8,48.349,496,Why?,78,0.635,False
37170,3.333333,GEORGE,50.178,The Yada Yada,19,False,NaN,0.915,19,3.0,8,49.263,496,I was naked.,78,0.000,False
37171,5.000000,MARCY,51.501,The Yada Yada,19,True,51.1,1.250,20,2.0,8,50.251,496,"Oh, George.",78,0.073,False
37172,2.333333,JERRY,52.751,The Yada Yada,19,False,NaN,1.250,21,3.0,8,51.501,496,I saw it.,78,0.000,False
37173,4.000000,MARCY,54.434,The Yada Yada,19,False,NaN,1.614,22,3.0,8,52.820,496,How'd he look?,78,0.069,False
37174,4.166667,JERRY,56.048,The Yada Yada,19,True,56.7,1.614,23,6.0,8,54.434,496,Okay. I wouldn't see it again.,78,0.000,False
37175,4.000000,MARCY,60.090,The Yada Yada,19,False,NaN,3.433,24,13.0,8,56.657,496,A friend of mine thought she got Legionnaires...,78,0.609,False
37176,6.666667,GEORGE,61.353,The Yada Yada,19,False,NaN,1.192,25,3.0,8,60.161,496,"Really, what happened?",78,0.071,False
37177,3.888889,MARCY,63.759,The Yada Yada,19,False,NaN,2.330,26,8.0,8,61.429,496,"Yada, yada, yada. Just some bad egg salad.",78,0.076,False
37178,4.000000,MARCY,65.296,The Yada Yada,19,True,64.5,1.465,27,4.0,8,63.831,496,I'll be right back.,78,0.072,False
37179,4.500000,MARCY,69.268,The Yada Yada,19,False,NaN,0.966,28,2.0,8,68.302,496,Nice girl.,78,3.006,False
37180,7.000000,MARCY,70.233,The Yada Yada,19,False,NaN,0.965,29,1.0,8,69.268,496,Lovely.,78,0.000,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37617,5.750000,ELAINE,1451.977,The Yada Yada,19,False,NaN,1.882,466,4.0,8,1450.095,496,"Oh, a nice-looking family.",78,0.000,False
37618,6.500000,JERRY,1453.641,The Yada Yada,19,False,NaN,1.590,467,2.0,8,1452.051,496,Very handsome.,78,0.074,False
37619,4.000000,KRAMER,1456.218,The Yada Yada,19,False,NaN,1.931,468,3.0,8,1454.287,496,How you doing?,78,0.646,False
37620,5.500000,MR.ABBOTT,1458.186,The Yada Yada,19,True,1458.4,1.897,469,2.0,8,1456.289,496,"Hey, Kramer.",78,0.071,False
37621,3.400000,JULIE,1468.124,The Yada Yada,19,False,NaN,2.159,470,5.0,8,1465.965,496,You must be so proud.,78,7.779,True
37622,4.833333,JULIE,1470.599,The Yada Yada,19,False,NaN,2.398,471,6.0,8,1468.201,496,We never thought he'd settle down.,78,0.077,False
37623,4.666667,JULIE,1472.795,The Yada Yada,19,True,1473.6,2.125,472,3.0,8,1470.670,496,"Well, not again.",78,0.071,False
37624,3.777778,JULIE,1479.239,The Yada Yada,19,True,1482.9,4.332,473,8.0,8,1474.907,496,"Oh, Mickey. Excuse me. I can't take this.",78,2.112,False
37625,4.333333,JERRY,1487.347,The Yada Yada,19,False,NaN,1.829,474,3.0,8,1485.518,496,"Hi, Mr. Abbott.",78,6.279,True
37626,5.500000,MR.ABBOTT,1492.118,The Yada Yada,19,False,NaN,3.297,475,4.0,8,1488.821,496,"That's Dr. Abbott, D.D.S.",78,1.474,False
37627,3.625000,MR.ABBOTT,1494.885,The Yada Yada,19,False,NaN,2.694,476,7.0,8,1492.191,496,Tim Whatley was one of my students.,78,0.073,False
37628,3.888889,MR.ABBOTT,1497.495,The Yada Yada,19,False,NaN,2.534,477,8.0,8,1494.961,496,And if this wasn't my son's wedding day...,78,0.076,False
37629,4.888889,MR.ABBOTT,1502.066,The Yada Yada,19,True,1501.6,4.503,478,8.0,8,1497.563,496,"I'd knock your teeth out, you anti-dentite ba...",78,0.068,False
37630,4.000000,BETH,1505.670,The Yada Yada,19,False,NaN,2.034,479,5.0,8,1503.636,496,What was that all about?,78,1.570,False
37631,4.200000,JERRY,1509.740,The Yada Yada,19,False,NaN,4.002,480,14.0,8,1505.738,496,"Oh, I said something about dentists, and it g...",78,0.068,False
37632,3.357143,BETH,1513.779,The Yada Yada,19,False,NaN,3.536,481,13.0,8,1510.243,496,"Hey, what do you call a doctor who fails out ...",78,0.503,False
37633,5.000000,JERRY,1515.079,The Yada Yada,19,False,NaN,1.233,482,1.0,8,1513.846,496,What?,78,0.067,False
37634,4.500000,BETH,1516.312,The Yada Yada,19,True,1517.2,1.233,483,2.0,8,1515.079,496,A dentist.,78,0.000,False
37635,3.750000,JERRY,1518.428,The Yada Yada,19,False,NaN,1.045,484,4.0,8,1517.383,496,That's a good one.,78,1.071,False
37636,5.000000,JERRY,1519.474,The Yada Yada,19,False,NaN,1.046,485,1.0,8,1518.428,496,Yeah.,78,0.000,False
37637,9.000000,JERRY,1520.950,The Yada Yada,19,False,NaN,1.398,486,1.0,8,1519.552,496,Dentists.,78,0.078,False
37638,4.500000,BETH,1522.348,The Yada Yada,19,False,NaN,1.398,487,4.0,8,1520.950,496,"Yeah, who needs them?",78,0.000,False
37639,3.555556,BETH,1524.456,The Yada Yada,19,True,1525.4,2.034,488,8.0,8,1522.422,496,Not to mention the blacks and the Jews.,78,0.074,False
37640,6.000000,ELAINE,1543.405,The Yada Yada,19,False,NaN,1.831,489,2.0,8,1541.574,496,Where's Beth?,78,17.118,True
37641,3.500000,JERRY,1545.235,The Yada Yada,19,True,1545.3,1.830,490,8.0,8,1543.405,496,She ran out to get her head shaved.,78,0.000,False
37642,4.200000,FATHER,1548.773,The Yada Yada,19,False,NaN,2.728,491,9.0,8,1546.045,496,We are gathered here today to unite this coup...,78,0.810,False
37643,4.333333,FATHER,1552.611,The Yada Yada,19,False,NaN,3.763,492,6.0,8,1548.848,496,in the bonds of holy matrimony.,78,0.075,False
37644,3.666667,JERRY,1555.484,The Yada Yada,19,True,1556.1,2.432,493,8.0,8,1553.052,496,Those wisdom teeth are tough to get out.,78,0.441,False
37645,4.454545,FATHER,1560.183,The Yada Yada,19,False,NaN,4.628,494,10.0,8,1555.555,496,Marriage is not an institution to be entered ...,78,0.071,False
37646,3.900000,FATHER,1563.795,The Yada Yada,19,True,1563.4,3.536,495,9.0,8,1560.259,496,"Yada, yada, yada. I pronounce you man and wife.",78,0.076,False

Not fantastic, we still see FP